.login-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.phone-img {
  width: 35%;
}

.phone-img img {
  width: 100%;
}

.whole-login {
  border: 1px solid #4cb5f9;
  border-radius: 5px;
  padding: 45px;
  font-size: 30px;
}

.whole-login h2 {
  margin: 0;
  margin-bottom: 30px;
}

.whole-login input {
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
}

.button {
  border: none;
  padding: 10px 90px;
  background-color: #4cb5f9;
  margin-top: 15px;
  color: white;
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(13, 98, 155);
}
