.whole-post {
  margin-bottom: 35px;
}

.post-profile-info {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.post-profile-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.post-profile-info p {
  margin-right: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.icon:hover {
  cursor: pointer;
}

.likes {
  text-align: left;
  font-weight: bold;
}

.likes p {
  margin: 25px 0;
}

.caption {
  text-align: left;
}

.caption span {
  font-weight: bold;
}

.whole-post hr {
  margin-top: 30px;
}
